<app-sidebar></app-sidebar>

<div class="mode-content">
  <div class="container my-5">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Employee Code</th>
            <th>Employee Name</th>
            <th>Mobile</th>
            <th>Position</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>word from db</td>
            <td>word from db</td>
            <td>word from db</td>
            <td>word from db</td>
            <td>word from db</td>
          </tr>
          <tr>
            <td>word from db</td>
            <td>word from db</td>
            <td>word from db</td>
            <td>word from db</td>
            <td>word from db</td>
          </tr>
          <tr>
            <td>word from db</td>
            <td>word from db</td>
            <td>word from db</td>
            <td>word from db</td>
            <td>word from db</td>
          </tr>
          <tr>
            <td>word from db</td>
            <td>word from db</td>
            <td>word from db</td>
            <td>word from db</td>
            <td>word from db</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
